{% extends 'base.html' %}

{% load static %}

{% block CONTENT %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="{% static 'img/exitman.png' %}" class="img-responsive center-block"/>
    </div>
    <div class="col-md-7">
      <h1> BEHIND THE SCENES: </h1>
      <br>
      <p> Hi there! My name is Tim and I'm an aspiring web developer as well as a current Escape room employee.
      I work for a "real-life entertainment" company called EXIT Canada which currently hosts multiple escape
      rooms at many locations in Canada. However, I do enjoy playing escape rooms at other companies as well, so I'll
      try my best to keep my reviews and guides as unbiased as possible.</p>
      <br>
      <p> I enjoy creating new things and have a thriving passion for entertainment. On this website I plan to post
      (hopefully) daily articles about interesting going-ons in the virtual life gaming industry. Whether it's cool gadgets
      that we made in-house or manufactured virtual reality helmets, if it's cool, I'll post about it. So for those who are
      fascinated with this kind of stuff (like me), stay tuned for more!
      </p>
      <br>
      <p> I'm also in the process of learning web development and this website is the third project I've ever worked on.
      If you're interested in collaborating with me or want me to design you something, you can e-mail me at victor.primoris@gmail.com
      </p>

    </div>
  </div>
</div>


{% endblock %}
